{{!-- Navbar partial --}}
<header>
    <h1>Tech Blog</h1>
    {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
    {{else}}
        <a href="/login">Login</a>
    {{/if}}
</header>
